/*  
Author: Patrick Muorah
File Name: styles.css
Date: 04/02/2025
*/

/* CSS RESET */
body, header, nav, main, footer, img, h1, h3, ul, article, section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*  Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk, .desktop, #menu-links {
  display: none;
}

/* Style rule for body and images */
body {
  background-color: white;
}

/* Style rule for header */
header {
  top: 0;
  height: 120px;
  text-align: center;

}

/* Style rule for h1 and h3 */
h1 {
  font-size: 2em;
  padding: 2%;
  font-family: 'Orbitron', sans-serif;
  font-style: oblique;
  color: darkblue;
}

h3 {
  font-family: 'Lora', serif;
  color: black;
  padding: 2%;
}

/* Style rule for navigation area */
.mobile-nav a {
  color: darkblue;
  text-align: center;
  border-top: 0.5px solid blue;
  font-size: 0.5em;
  text-decoration: none;
  padding: 3%;
  display: block;
  font-weight: bold;
  font-family: Geneva, Arial, sans-serif;
}

.mobile-nav a .nav-icon {
  display: block;
  position: absolute;
  right: 0; 
  top: 0;  
}

.nav-icon div {
  height: 50px;
  width: 50px;
}

/* Style rule for image */
img {
  float: right;
  max-width: 100%;
  display: block;
}

img , main {
  display: inline-block;
}

/* Style rules for main content */
main {
  
  overflow: auto;
  font-family:'Lora', serif;
}

main ul {
  list-style-type: disc;
}

/* Style rules for class and id selectors */
#info ul {
  margin-left: 5%;
}

#contact {
  text-align: center;
}

.round {
  border-radius: 6px;
  border: 1px solid blue;
  box-shadow: 3px 2px lightblue;
}


/* Style rules for form */
fieldset, input, textarea {
  margin-bottom: 2%;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 2%;
}

form #submit {
  margin: 0 auto 0 auto;
  display: block;
  padding: 2%;
  background-color: yellow;
  color: blue;
  font-size: 1.25em;
  border-radius: 10px;
  border-color: blue;
}

.tel-link {
  background-color: blue;
  padding: 2%;
  width: 80%;
  margin: 0 auto 0 auto;
}

.tel-link a {
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}

.touch {
  font-family: 'Tangerine', cursive;
  color: darkblue;
  font-size: 2em;
  font-weight: bold;
}

.external-link {
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}

.map {
  border: 2px solid #000;
  width: 95%;
  height: 50%;
}

.about {
  font-family: 'Tangerine', cursive;
  color: darkblue;
  font-weight: bolder;
}

/* Style rule for footer */
footer {
  clear: both;
  font-weight: bold;
  text-align: center;
  font-size: 0.85em;
  color: darkblue;
  padding: 1% 0%;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: darkblue;
}

.social img {
  display: inline-block;
  padding: 4%;
  border-radius: 0px;
  box-shadow: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {  
  /* Tablet Viewport: Show tab-desk class, hide mobile class */  
  .tab-desk {
    display: block;
  } 
  .mobile, .mobile-nav {
    display: none;  
  }

  /* Tablet Viewport: Style rule for header */
  header {
    position: static;
    padding-bottom: 2%;
  }

  h1 {
    font-size: 2em;
    padding: 2% 2% 0 2%;
    font-family: 'Orbitron', sans-serif;
    font-style: oblique;
    color: darkblue;
  }
  
  h3 {
    font-family: 'Lora', serif;
    color: black;
    padding: 1%;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav {
    padding-bottom: 2%;
  }

  nav ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
  border-top: none;
  display: inline-block;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  border-left: 1px solid blue;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li:first-child {
    border-left: none;
  }

  nav li a {
    display: block;
    color: darkblue;
    text-align: center;
    text-decoration: none;
    padding: 0.2em 0.75em;
  }

  /* Tablet Viewport: Style rules for main content area */
  .thecontact {
    width: 100%;
  }  

  /* Tablet Viewport: Style rule for form element */
  form {
    width: 70%;
    margin: 0 auto 0 auto;
  }

  .tel-num {
    font-size: 1.25em;
  }

  .map {
    width: 600px;
    height: 450px;
  }

   /* Style rules for table */
   table {
    text-align: center;
    border: 1px solid blue;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
  }

  caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1%;
  }

  th {
    border: 1px solid blue;
    padding: 1%;
    background-color: yellow;
    color: blue;
    font-size: 1.1em;
  }
  
  td {
    border: 1px solid blue;
    padding: 1%;
  }

}

/* Tablet Viewport: Style rule for footer element */
footer {
  overflow: auto;
}

.copyright {
  float: left;
  width: 65%;
}

.social {
  padding-left: 5px;
  float: right;
  width: 25%;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

  .desktop {
    display: block;
  }

  a {
    text-decoration: none;
  }
  /*  Desktop Viewport: Style rule for form */
  form {
    width: auto;
  }

  .form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  .btn {
    grid-column: 1 / span 2;
  }

  /*  Desktop Viewport: Style rule for header */

  .top-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 0px -100px 0px; 
    background-color: #003366; 
    color: white; 
    border-radius: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    margin-bottom: none;
    
}

  header {
    width: 25%;
    float: left;
    margin: 12px 0px 0px 0px;
  }

  .logo {
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-decoration: none;
}

  header h1 {
    color: white;
  }

 h1 a:hover {
  color: #000;
 }

  header nav {
    display: inline-block;
  }

 /* Desktop Viewport: Style rule for nav area */
nav {
  width: 70%;
  float: right;
  margin: 0px 0px 80px 0px;
  background-color: #003366; 
  border-radius: 8px; 
  padding: 10px; 
}

nav ul {
  margin: 0;
  text-align: right;
  list-style: none; 
}

nav li {
  display: inline-block;
  font-size: 0.9em;
  border: none;
  margin: 0 10px; 
}

nav li a {
  display: block;
  text-align: center;
  padding: 0.2em 0.2em; 
  color: blue; 
  background-color: #ffffff; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: all 0.3s ease; 
}

nav li a:hover {
  color: black;
  background-color: blue;
  transform: scale(1.25);
}

nav li a:active {
  opacity: 0.7;
}

  /*  Desktop Viewport: Style rule for main content */
  .map {
    border: 8px solid #000;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

}

body {
  overflow-x: hidden; 
  margin: 0; 
  padding: 0;
}

.main-content {
  flex: 1; 
}

/* General Body Styling */
.homepage-body {
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Introduction Section */
.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h1 {
  font-size: 2.5em;
  color: darkblue;
}

.intro h3 {
  font-size: 1.5em;
  color: black;
}

.intro p {
  font-size: 1em;
  color: #666;
}

/* Featured Sections */
.featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 80%;
}

.card h3 {
  font-size: 1.25em;
  color: darkblue;
}

.card p {
  font-size: 0.9em;
  color: #555;
}

.search-form {
  margin-top: 20px; 
  text-align: center; 
  border: none;
}

.search-input {
  padding: 10px; 
  width: 300px; 
  border: 2px solid #003366; 
  border-radius: 5px 0 0 5px;
  outline: none; 
}

.search-button {
  padding: 10px 20px; 
  border: 2px solid #003366; 
  border-left: none; 
  border-radius: 0 5px 5px 0; 
  background-color: #003366; 
  color: white; 
  cursor: pointer; 
  margin-left: -7px;
}

.search-button:hover {
  background-color: #002244; 
}


.middle-section {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 80%; 
  margin: 0 auto; 
  padding: 20px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  background-color: #f9f9f9; 
}

.image-container {
  flex: 1; 
}

.image-container img {
  width: 100%; 
  border-radius: 10px; 
  float: left;
}

.text-container { 
  color: black; 
}

.text-container h2 {
  font-size: 2em;
  color: darkblue;
}

.text-container h3 {
  font-size: 1.5em;
  color: black;
}

.text-container p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px; 
}

.content-section {
  display: flex;
  flex-direction: column; 
  gap: 40px; 
  padding: 20px;
}

.content-block {
  display: flex; 
  gap: 20px; 
  align-items: center; 
}

.image-container img {
  width: 50%; 
  border-radius: 10px; 
}

.text-container {
  flex: 1; 
}

.text-container h3 {
  font-size: 1.5em;
  color: #003366; 
}

.text-container p {
  font-size: 1em;
  color: #666; 
  margin-bottom: 10px; 
}

.hero-image img {
  width: 100%; 
  height: auto; 
  display: block; 
}


.disc-top-section {
  background-color: gray; 
  width: 100vw; 
  box-sizing: border-box; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  gap: 20px; 
  margin: 0; 
}

.disc-top-section h2 {
  margin: 0;
  font-size: 1.5em;
  color: black; 
}

.topics {
  display: flex; 
  gap: 40px; 
  padding-left: 300px;
}

.topics button {
  padding: 10px 15px;
  background-color: gray; 
  color: black; 
  border-color: #000;
  border-radius: 5px;
  cursor: pointer;
}

.topics button:hover {
  background-color: #002244; 
}

.disc-search-form {
  display: flex; 
  align-items: center; 
  padding-left: 20px;
  padding-bottom: 4px;
  border: none;
}

.disc-search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; 
  width: 200px; 
}

.disc-search-button {
  padding: 12px 15px;
  border: none;
  background-color: #003366;
  color: white;
  border-radius: 0 5px 5px 0; 
  cursor: pointer;
  margin-top: -19px;
  margin-bottom: -10px;
  height: 38px;
}

.disc-search-button:hover {
  background-color: #002244; 
}


/* Search Section */
.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #003366;
  color: white;
  cursor: pointer;
}

.search-button:hover {
  background-color: #002244;
}

/* Categories Section */
.categories {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  background-color: #e8eaf6;
}

.category-button {
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-button:hover {
  background-color: #002244;
}

/* Posts Section */
.posts-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.post {
  background-color: #f8f9fa;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post h2 {
  color: #003366;
  margin-bottom: 10px;
}

.post p {
  margin: 5px 0;
  color: #666;
}

/* Contact Page General Styling */
.contact-page {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 20px; 
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px; 
  box-sizing: border-box; 
}

/* Contact Information Section */
.contact-info {
  flex: 1; 
  max-width: 45%; 
  text-align: left;
}

.contact-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-info h2 {
  font-size: 1.5em;
  color: #003366;
}

.contact-info p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.info-details {
  margin-top: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Contact Form Section */
.contact-form {
  flex: 1; 
  max-width: 45%; 
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form form {
  display: flex;
  flex-direction: column; 
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

.contact-form button {
  background-color: #003366;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #002244;
}

.contact-text {
  text-align: center;
}

/* sign in page styling */
.sign-in-page {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
}

/* Buttons Styling */
.action-buttons {
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
}

.action-buttons button {
  flex: 1; 
  padding: 10px;
  font-size: 1em;
  background-color: #003366; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-buttons button:hover {
  background-color: #002244; 
}

/* Main Login Page */
.login-body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.login-page {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-page h1 {
  font-size: 2em;
  color: #003366; 
  margin-bottom: 20px;
}

/* Login Form Styling */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.login-form label {
  font-size: 1em;
  color: #333;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}

.login-form input::placeholder {
  font-style: italic;
  color: #999; 
}

.login-button {
  padding: 10px;
  font-size: 1.1em;
  background-color: #003366;
  color: white; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #002244; 
}

/* Register Page General Styling */
.register-body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Register Page Styling */
.register-page {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px; 
}

.register-page h1 {
  font-size: 2em;
  color: #003366;
  margin-bottom: 20px;
}

/* Form Styling */
.register-form {
  display: grid; 
  grid-template-columns: 150px auto; 
  gap: 10px; 
  align-items: center; 
}

.form-group {
  display: contents; 
}

.register-form label {
  font-size: 1em;
  color: #333;
  text-align: right; 
}

.register-form input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; 
}

.register-form input::placeholder {
  font-style: italic;
  color: #999;
}

.register-button {
  grid-column: span 2; 
  padding: 10px;
  font-size: 1.1em;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #002244;
}



/* Footer styling */
.footer {
  background-color: #003366; 
  color: white; 
  padding: 20px; 
  text-align: center; 
  font-family: Arial, sans-serif; 
  position: relative; 
  bottom: 0; 
  width: 100vw;
}

/* Newsletter section styling */
.newsletter {
  float: left;
}

.newsletter p {
  font-size: 1.2em; 
  margin-bottom: 15px; 
}

form {
  padding: 10px; 
  border: 2px solid #003366; 
  border-right: none; 
  border-radius: 5px 0 0 5px;
  flex: 1; 
  outline: none; 
}

.email-input {
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  margin-right: -7px; 

}

.subscribe-button {
  padding: 10px 20px; 
  border: 2px solid #003366; 
  border-left: none; 
  border-radius: 0 5px 5px 0; 
  background-color: #cccccc; 
  color: #003366; 
  cursor: pointer; 
  
}

.subscribe-button:hover {
  background-color: #999999; 
}

.footer-note p {
  font-size: 0.8em;
  margin-top: 120px; 
  text-align: left;
}


/* Media Query for Print */ 
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}
